<form class="rmrpg-sheet flexcol" autocomplete="off">
  <div class="sheet-columns">
    {{> "systems/remasters-rpg/templates/actors/partials/left-column.hbs"}}

    <section class="right-column">
      {{> "systems/remasters-rpg/templates/actors/partials/header.hbs"}}
      {{> "systems/remasters-rpg/templates/actors/partials/nav-tabs.hbs"}}

      <section class="sheet-body">
        {{> "systems/remasters-rpg/templates/actors/partials/tabs/main.hbs"}}

        {{#if isPlayer}}
        {{> "systems/remasters-rpg/templates/actors/partials/tabs/actions.hbs"}}
        {{> "systems/remasters-rpg/templates/actors/partials/tabs/inventory.hbs"}}
        {{> "systems/remasters-rpg/templates/actors/partials/tabs/abilities.hbs"}}
        {{> "systems/remasters-rpg/templates/actors/partials/tabs/personal.hbs"}}
        {{> "systems/remasters-rpg/templates/actors/partials/tabs/advancements.hbs"}}
        {{> "systems/remasters-rpg/templates/actors/partials/tabs/effects.hbs"}}
        {{/if}}
      </section>
    </section>
  </div>
</form>
