<form class="rmrpg-sheet rmrpg-item-sheet flexcol{{#if isFeat}} feat-sheet{{/if}}" autocomplete="off">
  {{> "systems/remasters-rpg/templates/items/partials/header.hbs"}}

  <section class="sheet-body">
    {{#if isWeapon}}
      {{> "systems/remasters-rpg/templates/items/partials/weapon.hbs"}}
    {{/if}}

    {{#unless isWeapon}}
      {{> "systems/remasters-rpg/templates/items/partials/non-weapon.hbs"}}
    {{/unless}}
  </section>
</form>
