@use "layout";
@use "status";
@use "header";
@use "tabs";
@use "attributes";
@use "actions";

.rmrpg-sheet {
  @include layout.sheet-layout;
  @include status.sheet-status;
  @include header.sheet-header;
  @include tabs.sheet-tabs;
  @include attributes.sheet-attributes;
  @include actions.sheet-actions;
}
